	<!-- Start Footer -->
<footer class="footer-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="footer-company-name">Tüm Hakları Network Akademi 103 Sabah Grubu Sınıfına Saklıdır. &copy; 2022 <a href="#">MHRSLITE 103</a></p>
            </div>
        </div>
        <div class="row">
            <a href="mailto:yazilim103@gmail.com">yazilim103@gmail.com</a>
            <myemail mail-to="yazilim103@gmail.com">Mail Gönder</myemail>
        </div>
    </div>
</footer>
<!-- End Footer -->
